body{
    margin:0px;
    font-family:Arial;
}


.left{
    width:60%;
    float:left;
    font-size:13vw;
    text-align:center;
    padding-top:0vh;
}

.lable1{
    line-height: 19vw;
}

.right{
    font-size:6vw;
    width:40%;
    height:100vh;
    float:left;
}

.focus{
    font-weight:900;
}